include mixin/_mixin
doctype html
html(lang='en')
  head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title Welcome
    meta(charset="utf-8")
    +link('../css/main.css')
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  body(class="white-light")
    +spritsvg()
   nav.navigationfixed
    ul
     li.navigation_li
      a(href="") Мои работы
     li.navigation_li
      a(href="../blog.html") Блог
     li.navigation_li
      a(href="../about.html") Обо мне
     li.navigation_li
      a(href="../login.html") Авторизация
   .preloader
     .preloader__container
      .preloader__progres
      svg(version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       width="80px" height="95.113px" viewBox="0 0 80 95.113" enable-background="new 0 0 80 95.113" xml:space="preserve")
       path(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,38.005c6.663,0,6.663,7.802,13.327,7.802c6.665,0,6.665-7.802,13.33-7.802c6.667,0,6.667,7.802,13.334,7.802c6.666,0,6.666-7.802,13.331-7.802c6.67,0,6.67,7.802,13.339,7.802S73.33,38.005,80,38.005" stroke-dasharray="96.40425109863281" stroke-dashoffset="96.30425109863281")
       path(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,61.684c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684" stroke-dasharray="96.40425109863281" stroke-dashoffset="96.30425109863281")
       path(fill="none" stroke="#231F20" stroke-width="3.9003" stroke-miterlimit="10" d="M0,85.362c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362" stroke-dasharray="96.40425109863281" stroke-dashoffset="96.30425109863281")
   .wrapper
    +svgClass('wrapper_portfolio','#icon-portfolio_header')
    .table_row
     .wrapper_head
      .table.wrapper_head_navigation_left
       ul.ul-link.table_cell.table_middle
        li.ul-link_vk
         a(href='https://vk.com/id255900589')
          +svg('#icon-vk')
        li.ul-link_git
         a(href='https://github.com/yaroslavert')
          +svg('#icon-github')
        li.ul-link_in
         a(href='')
          +svg('#icon-in')
      button.button_toggle
       .button_toggle_line
      .clearfix
    .wrapper_row
     .content
      .box_icon
       img.box_icon_img.img-reset(src="./img/men.png")
      p.wrapper_name Владимир Астахов 
      p.wrapper_state Статьи, которые я написал
      button.content_downwork.fa.fa-chevron-down(data-link=".mywork_SlidLink" data-offset="0")
      svg(class="content_left" preserveAspectRatio="none" viewBox="0 0 1000 400")
       path(fill-rule="evenodd" clip-rule="evenodd" d="M0 0l1000 200v200H0V0z")
      svg(class="content_right" preserveAspectRatio="none" viewBox="0 0 1000 400")
       path(fill-rule="evenodd" clip-rule="evenodd" d="M0 200L1000 0v400H0V200z")
   .mywork
    .mywork_header
     h1.mywork_title Мои работы
     .patuka
     +svgClass('mywork_svg','#icon-works_header')
    .mywork_SlidLink
     .mywork_BigFoto
      .mywork_wraperSlides
       .mywork_slide.activ
        img.mywork_img(src="../img/first.png")
       .mywork_slide
        img.mywork_img(src="../img/second.png")
       .mywork_slide
        img.mywork_img(src="../img/third.png")
     .mywork_links
      .mywork_wrappers
       .mywork_links_container.activ
        .table_cell.table_middle
         h1.mywork_links_title Перший
         .patuka
         p.mywork_links_texnologi HTML , CSS, JAVASCRIPT
         button.mywork_links_view
          a.mywork_links_view_link(href="#") Посмотреть сайт
       .mywork_links_container
        .table_cell.table_middle
         h1.mywork_links_title Другий
         .patuka
         p.mywork_links_texnologi HTML , CSS, JAVASCRIPT
         button.mywork_links_view
          a.mywork_links_view_link(href="#") Посмотреть сайт
       .mywork_links_container
        .table_cell.table_middle
         h1.mywork_links_title Третій
         .patuka
         p.mywork_links_texnologi HTML , CSS, JAVASCRIPT
         button.mywork_links_view
          a.mywork_links_view_link(href="#") Посмотреть сайт
     .mywork_SmalFoto
      button.mywork_SmalFoto_go#slider-down
       +svgClass('mywork_SmalFoto_link','#icon-portf_arrow_down')
      .mywork_wraperSlides
       .mywork_slide
        img.mywork_img(src="../img/first.png")
       .mywork_slide.activ
        img.mywork_img(src="../img/second.png")
       .mywork_slide
        img.mywork_img(src="../img/third.png")
     .mywork_SmalFoto.mywork_SmalFoto_last
      button.mywork_SmalFoto_go#slider-up.button_next
       +svgClass('mywork_SmalFoto_link','#icon-portf_arrow_up')
      .mywork_wraperSlides
       .mywork_slide
        img.mywork_img(src="../img/first.png")
       .mywork_slide
        img.mywork_img(src="../img/second.png" style="animation-delay:0.10s")
       .mywork_slide.activ
        img.mywork_img(src="../img/third.png" style="animation-delay:0.20s")
     .clearfix
   .commentwork
    .commentwork_header
     h1.commentwork_header_title Что обо мне 
      br
      говорят
     .patuka
     .commentwork_header_list
     +svgClass('commentwork_header_about','#icon-about_header')
    .commentwork_backround
     .commentwork_comments
      .commentwork_comment
       .commentwork_foto
        img(src="img/dima.png")
       p.commentwork_des Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
       p.commentwork_name Ковальчук Дмитрий
       p.commentwork_pos — основатель Loftschool
      .commentwork_comment
       .commentwork_foto
        img(src="img/zar.png")
       p.commentwork_des Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
       p.commentwork_name Зар Захаров
       p.commentwork_pos — главный преподаватель
      .clearfix 
      .commentwork_contacmy
       .commentwork_contacmy_box
        h1.commentwork_contacmy_title Связаться со мной
        .patuka
        form
         input.commentwork_contacmy_input(type="text" placeholder="Имя")  
         input.commentwork_contacmy_input(type="text" placeholder="Email") 
         textarea.commentwork_contacmy_text(placeholder="Ваше сообщение")
       .button 
        ul.ul-reset.button_ul.button_size-2
         li.button_li
          a.button_a(href="") Отправить
         li.button_li
          a.button_a(href="") Очистить
      button.content_up.fa.fa-chevron-up
     footer.fot
      .fot_cols
       .fot_col.fot_left
        .div
         p.fot_school Этот сайт я сделал в рамках обучения
          span в Школе онлайн образования LoftSchool
       .fot_col
        .div
         nav.nav_top
          ul.nav_ul
           li.nav_li
            a.nav_link(href="") Мои работы
           li.nav_li
            a.nav_link(href="../about.html") Обо мне
           li.nav_li
            a.nav_link(href="../blog.html") Блог
           li.nav_li
            a.nav_link(href="../login.html") Авторизация
           .clearfix
         nav.nav_bottom
          ul.ul-link
           li.ul-link_vk
            a(href='#')
             +svg('#icon-vk')
           li.ul-link_git
            a(href='#')
             +svg('#icon-github')
           li.ul-link_in
            a(href='#')
             +svg('#icon-in')
           .clearfix
          .clearfix
       .fot_col.fot_right
        .div
         p.fot_col_p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
         p.fot_col_p.fot_col_p_au — Martin Golding
       .clearfix
      .footer_text © Владимир Астахов |
       span.footer_span  создано с любовью в LoftSchool | 2016
  script(src="js/libs.min.js")
  script(src="js/main.js")
 
  
